# Hausaufgaben Einstieg in Python - Lektion 2

1.Kreiere eine Liste aus Zahlen, die aus 10 Elementen besteht, und ordne sie der Variabel a zu.

In [3]:
[1,2,3,4,5,6,7,8,9,10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]

In [9]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2.Mache dasselbe mit einer Liste aus 100 Elementen und ordne sie der Variabel b zu.

In [6]:
list(range(100))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [8]:
b = list(range(100))

In [19]:
b

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 'ich bin keine Zahl']

3.Füge beiden Listen folgenden String an: 'ich bin keine Zahl'

In [11]:
a.append('ich bin keine Zahl')

In [12]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'ich bin keine Zahl']

In [16]:
b.append("ich bin keine Zahl")

In [20]:
b

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 'ich bin keine Zahl']

4.Lösche diesen letzten Eintrag in der Liste wieder

In [21]:
a.pop()

'ich bin keine Zahl'

In [22]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
b.pop()

'ich bin keine Zahl'

In [24]:
b

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

5.Verwandle jede Zahl in den Listen a und b von int in str?

In [30]:
str(a)

'[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]'

In [31]:
str(b)

'[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]'

6.Von der list b, zeige nur die letzten zehn Nummern an

In [36]:
b = list(range(100))

In [43]:
b[89:]

[89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

7.Von der folgenden Liste, zeige den zweit grössten Wert an

8.Multipliziere jede Nummer in dieser Liste, die kleiner ist als 100, mit 100; wenn die Nummern zwischen 100 und 1000 verwandle sie in eine String, und wenn sie grösser oder gleich 1000 ist, lösche sie.

9.Schreibe eine Dictionary-Liste der fünf grössten Schweizer Städte, ihrer Bevölkerung und dem jeweiligen Kanton.

In [8]:
dct_lst = [{'Stadt': 'Zürich', 'Bevölkerung': 402651, 'Kanton': 'Zürich'}, {'Stadt': 'Genf', 'Bevölkerung': 198899, 'Kanton': 'Genf'}, {'Stadt': 'Basel', 'Bevölkerung': 171000, 'Kanton': 'Basel-Stadt'}, {'Stadt': 'Lausanne', 'Bevölkerung': 137000, 'Kanton': 'Waadt'}, {'Stadt': 'Bern', 'Bevölkerung': 133000, 'Kanton': 'Bern'}]

10.Zeige nur die Bevölkerung der Stadt Genf an

In [9]:
dct_lst[1]['Bevölkerung']

198899

11.Drucke (print) das Total der Bevölkerungen aller Städte aus

In [10]:
dct_lst[0]['Bevölkerung'] + dct_lst[1]['Bevölkerung'] + dct_lst[2]['Bevölkerung'] + dct_lst[3]['Bevölkerung'] + dct_lst[4]['Bevölkerung']

1042550

In [12]:
print(dct_lst[0]['Bevölkerung'] + dct_lst[1]['Bevölkerung'] + dct_lst[2]['Bevölkerung'] + dct_lst[3]['Bevölkerung'] + dct_lst[4]['Bevölkerung'])

1042550

12.Rechne den Anteil der Bevölkerung der jeweiligen Städte an der Gesamtbevölkerung der Schweiz aus und "print" die Ergebnisse neben dem Städtenamen

In [24]:
for dic in dct_lst:
    print(dic['Stadt'] + ': ' +  str(dic['Bevölkerung']))

Zürich: 402651
Genf: 198899
Basel: 171000
Lausanne: 137000
Bern: 133000

13.Füge noch die Städte Winterthur und Luzern hinzu

14.Ergänze die Städte-Dictionary-Liste mit Winterthur und Luzern

In [25]:
dct_lst.append([{'Stadt': 'Winterthur', 'Bevölkerung': 110000, 'Kanton': 'Zürich'}, {'Stadt': 'Luzern', 'Bevölkerung': 81000, 'Kanton': 'Luzern'}])

15.Wiederhole den loop von oben, um den Anteil der Bevölkerung an der Gesamtbevölkerung auszurechnen, dieses Mal mit Winterthur und Luzern